@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap");

root:: {
  --fire-primary: #ff2d2d;
  --fire-secondary: #fdd41b;
  --icy-primary: #2e8ca7;
  --icy-secondary: #63f0f5;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #bebebe;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
}

.nav {
  background-color: #f0f0f0;
}

.nav div {
  display: flex;
  justify-content: space-between;
}

.nav div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.search input {
  font-size: 24px;
  width: 40vw;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: none;
}

.nav button {
  font-size: 24px;
  background-color: #5ce0f1;
  height: 4rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
}

.profile-picture {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar {
  background-color: #5c5c5c;
  grid-row: 1/3;
  font-family: "Inknut Antiqua", serif;
  color: var(--icy-primary, #92e7ff);
  text-shadow: 0.2rem 0.1rem 0.4rem #277e81;
  padding: 1rem 2rem;
}

.sidebar ul {
  margin: 5rem 0;
}

.sidebar li {
  font-size: 32px;
}

svg {
  height: auto;
  width: 2rem;
  padding: 0 1rem;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: #eee8aa;
  border-radius: 0.5rem;
  background: rgb(249, 227, 145);
  background: linear-gradient(
    90deg,
    rgba(249, 227, 145, 1) 0%,
    rgba(249, 227, 145, 1) 100%
  );
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.card h5 {
  font-size: 22px;
}

.cards .card {
  border-left: 1rem solid;
}

.cards .ice-spell {
  border-color: #63f0f5;
}

.cards .fire-spell {
  border-color: #ff2d2d;
}

.cards .arcane-spell {
  border-color: #f563e2;
}

.card .note {
  font-style: italic;
  font-size: 1rem;
  font-weight: 500;
}

.card-icons {
  display: flex;
  justify-content: right;
}

.card-icons svg {
  padding: 0 1rem;
}

.trending .card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending .card div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem 0;
}

.trending-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}
